/**
 * Progress Component Demo Style for Uxcore
 * @author vicent.bian
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */
@progress-icon-font-family: 'kuma';
@progress-icon-caution-content: '\e605';
@progress-icon-success-content: '\e601';

@import "../node_modules/uxcore-kuma/src/variables";
@import "../src/Progress.less";
