/**
 * Progress Component Style for uxcore
 * @author vicent.bian
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

 @__progress-prefix-cls: kuma-progress;

 .@{__progress-prefix-cls} {
    &-line-wrap {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        font-size: 12px;
        position: relative;
    }
    &-line-outer {
        margin-right: 45px;
        height: 22px;
        line-height: 22px;
    }
    &-line-wrap-full {
        .@{__progress-prefix-cls}-line-outer {
            margin-right: 0;
        }
    }
    &-line-inner {
        display: inline-block;
        width: 100%;
        background-color: @basic-700;
        border-radius: 100px;
        vertical-align: middle;
    }
    &-line-bg {
        border-radius: 100px;
        background-color: @brand-info;
        transition: all 0.3s linear 0s;
        position: relative;
    }
    &-line-text {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 35px;
        text-align: left;
        font-size: 1em;
        margin-left: 10px;
        height: 22px;
        line-height: 22px;
        
        > i {
            font-size: 16px;
            font-style: normal;
            -webkit-font-smoothing: antialiased;
            -webkit-text-stroke-width: .2px;
            font-family: @progress-icon-font-family;
        }
    }
    &-line-wrap.status-exception {
        .@{__progress-prefix-cls}-line-bg {
            background-color: @brand-danger;
        }
        .@{__progress-prefix-cls}-line-text {
            color: @brand-danger;
            .icon-caution {
                &:after {
                   content: @progress-icon-caution-content;
                }
            }
        }
    }
    &-line-wrap.status-success {
        .@{__progress-prefix-cls}-line-bg {
            background-color: @brand-success;
        }
        .@{__progress-prefix-cls}-line-text {
            color: @brand-success;
            .icon-success {
                &:after {
                    content: @progress-icon-success-content;
                }
            }
        }
    }
    
    &-circle-trail {
        stroke: @basic-700;
    }
    
    &-circle-wrap.status-normal {
        .@{__progress-prefix-cls}-circle-path {
            stroke: @brand-info;
        }
    }
    &-circle-wrap.status-exception {
        .@{__progress-prefix-cls}-circle-path {
            stroke: @brand-danger;
        }
    }
    &-circle-wrap.status-success {
        .@{__progress-prefix-cls}-circle-path {
            stroke: @brand-success;
        }
    }
    &-circle-wrap {
        position: relative;
        .@{__progress-prefix-cls}-circle-text {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            text-align: center;
        }
    }
}

@keyframes progress-active {
    0% {
        opacity: .3;
        width: 0;
    }
    100% {
        opacity: 0;
        width: 100%;
    }
 }
